---
const { label, type, name, id, required } = Astro.props
---

<div class="flex flex-col w-full">
  <label for={id} class="text-lg">{label}</label>
  {
    type === "textarea" ? (
      <textarea
        class="px-2 py-2 bg-transparent border-b border-gray-500 w-full text-lg outline-none focus:border-neutral-600 transition duration-300 ease-in-out h-32"
        name={name}
        cols="50"
        id={id}
        required={required}
      />
    ) : (
      <input
        type="text"
        name={name}
        class="px-2 py-2 bg-transparent border-b border-gray-500 w-full text-lg outline-none focus:border-neutral-600 transition duration-300 ease-in-out"
        id={id}
        required={required}
      />
    )
  }
</div>
